@media(min-width:375px){
    .container {
        display:block;
        margin:50%;
    }
}

body {
   
    
    font-size:15px;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align:center;
    display:block;
    
}

.container {
    width:320px;
    
    
    background-color:white;
    border-radius:15px;
    display:block;
    margin:15vh auto;
    
}




img {
    width:90%;
    margin-top:15px;
    border-radius: 15px;
    
}

h2 { 
    
     padding:0 20px;
     
}

.container p {
    padding: 0 30px 40px 30px;
    color:hsl(220, 15%, 55%);
      
}

